// Border Color
@each $shade, $color in $grays {
  .borderGray#{$shade} {
    border-color: $color;
  }
}

// Border Style
.borderSolid {
  border-style: solid;
}

// Border Width
.border {
  border-width: 1px;
}

.borderT {
  border-top-width: 1px;
}

.borderR {
  border-right-width: 1px;
}

.borderB {
  border-bottom-width: 1px;
}

.borderL {
  border-left-width: 1px;
}

// Border Radius
.borderRoundedNone {
  border-radius: 0;
}

.borderRoundedSmall {
  border-radius: 2px;
}

.borderRoundedMedium {
  border-radius: 4px;
}

.borderRoundedMedium {
  border-radius: 8px;
}

.borderRoundedFull {
  border-radius: 50%;
}
