// Font Size

// Font Weight

// Text Color
@each $shade, $color in $grays {
  .textGray#{$shade} {
    color: $color;
  }
}

@each $shade, $color in $colors {
  .#{camelize("text-" + $shade)} {
    color: $color;
  }
}

// Text Align
.textCenter {
  text-align: center;
}

// Word Break
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
