$black: #000;

$grays: (
  "10": scale-color($black, $lightness: 90%),
  "20":
    scale-color(
      $color: $black,
      $lightness: 80%,
    ),
  "30":
    scale-color(
      $color: $black,
      $lightness: 70%,
    ),
  "40":
    scale-color(
      $color: $black,
      $lightness: 60%,
    ),
  "50":
    scale-color(
      $color: $black,
      $lightness: 50%,
    ),
  "60":
    scale-color(
      $color: $black,
      $lightness: 40%,
    ),
  "70":
    scale-color(
      $color: $black,
      $lightness: 30%,
    ),
  "80":
    scale-color(
      $color: $black,
      $lightness: 20%,
    ),
  "90":
    scale-color(
      $color: $black,
      $lightness: 10%,
    ),
  "100": $black,
);

$colors: (
  "red": #e53e3e,
  "orange": #ed8936,
  "yellow": #f6e05e,
  "green": #68d391,
  "teal": #81e6d9,
  "blue": #4299e1,
  "indigo": #667eea,
  "purple": #9f7aea,
  "pink": #ed64a6,
);

$mobileLandscape: 480px;
$tabletPortrait: 768px;
$tabletLandscape: 992px;
$desktop: 1200px;
