.container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.item {
  position: relative;
  flex: none;
  width: 25%;
  margin-top: 8px;
  padding: 0 4px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
}

.itemImage {
  width: 100%;
  border: 1px dashed black;
  border-radius: 4px;
  cursor: pointer;
}

.input {
  display: block;
  width: 100%;
  padding: 16px 20px;
  margin: 0;
  border: solid 2px #dfdfe3;
  border-radius: 5px;
  border-top-left-radius: 0;
  outline: 0;
  box-shadow: none;
  background-color: white;
  color: #444a57;
  transition: border-color 0.2s ease;
  position: relative;
  font-size: 15px;
  line-height: 1.5;
}

.input:focus,
.input:active {
  border-color: #3a69c7;
}

.statusText {
  margin-top: 8px;
}
