.list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.itemWrapper {
  flex: none;
  padding: 8px;
  width: 50%;

  @media all and (min-width: $tabletLandscape) {
    width: 25%;
  }

  @media all and (min-width: $dekstop) {
    width: 20%;
  }

  @media all and (min-width: 2000px) {
    width: 12.5%;
  }
}

.item {
  height: 100%;
}
