.input {
  display: block;
  width: 100%;
  padding: 16px 20px;
  margin: 0;
  border: solid 2px #dfdfe3;
  border-radius: 5px;
  border-top-left-radius: 0;
  outline: 0;
  box-shadow: none;
  background-color: white;
  color: #444a57;
  transition: border-color 0.2s ease;
  position: relative;
  font-size: 15px;
  line-height: 1.5;
}

.input:focus,
.input:active {
  border-color: #3a69c7;
}

.field {
  margin-top: 8px;
}
