.container {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
}

.link {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: white;
  border: none;

  &:hover {
    color: var(--color-primary);
  }

  &:nth-child(even) {
    border-left: var(--color-foreground) 1px solid;
  }

  &:nth-child(n + 3) {
    border-top: var(--color-foreground) 1px solid;
  }

  @media all and (min-width: $tabletPortrait) {
    width: 25%;

    &:not(:first-child) {
      border-top: none;
      border-left: var(--color-foreground) 1px solid;
    }
  }
}

.linkBackgroundContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: var(--color-foreground);
}

.linkBackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.linkOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: black;
  opacity: 0.4;
}

.linkOverlayHidden {
  visibility: hidden;
}

.linkText {
  z-index: 3;
  font-size: 48px;
  font-weight: 600;
}
