.navBar {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 48px;
  background-color: var(--color-foreground);
  transition: $transitionBackground;
  align-items: center;
  padding-left: 24px;
}

.navIconLink {
  display: block;
  line-height: 0;
}

.navIcon {
  height: 24px;
}

.navLink {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
}

.navLink:hover {
  color: var(--color-primary);
}

.navLink:not(:first-child) {
  margin-left: 12px;
}

.navLinkActive {
  color: var(--color-primary);
}
